.anim-bg {
    background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.project {
    width: 100%;
    margin: 16px 0;
    position: relative;
}
.project img {
    width: 100%;
    transition: all 1s ease;
}

.project:hover img {
    transform: scale(1.25);
}

.project-icon {
    position: absolute;
    top: 16px;
    left: 16px;
}


/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #ddd;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}


.progress {
    background-color: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.tool {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.bg-pink {
    background-color: #ee9ca7;
}
.rounded-1 {
    border-radius: 32px;
}
.rounded-2 {
    border-radius: 16px;
}
.rounded-3 {
    border-radius: 12px;
}

#foot-icons {
    max-width: 150px;
}
#foot-icons a {
    color: white;
}
#foot-icons a:hover {
    color: #ff6b7e;
}
@media (min-width: 768px) {
    #intro > img {
        width: 33%;
    }

    .project {
        width: 30%;
    }
    .project img {
        height: 300px;
        object-fit: cover;
    }
}
